$color-text-base: #444444;
$color-text-base-2: #222222;
$color-text-accent: #000000;
$color-text-accent-2: #111111;


$color-accent: #68b738;
$color-basic: #f2f2f2;
$color-second: #eaeaea;
$color-light: #ffffff;

$font-basic: "Lato", "Arial", sans-serif;
$font-second: "Oswald", "Arial", sans-serif;
