.button {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-second;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button--primary {
  color: $color-light;
  background-color: $color-accent;
}

.button--secondary {
  color: $color-text-base;
  background-color: $color-basic;
}
