.card {
  //
}

.card__link-image {
  //
}

.card__image {
  //
}

.card__link-title {
  text-decoration: none;
}

.card__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-base-2;
}

.card__description {
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
}

.card__product-parameter {
  //
}

.card__product-value {
  //
}
