.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 1px;
    width: 100vw;
    background-color: $color-line-decor-light;
    margin-bottom: 20px;
    box-shadow: 100vw 0 0 0 $color-line-decor-light;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 37px 40px;
    background: linear-gradient(to top, $color-basic 84%, $color-light 16%);

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $color-basic 86%, $color-light 16%);
    padding: 0 38px 40px;
  }
}

.card__link-image {
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center center;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.card__image {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__link-title {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 80px;
  padding-block: 21px 15px;
  min-height: 55px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-block: 22px 20px;
    max-width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    padding-block: 12px 23px;
    max-width: 135px;
  }
}

.card__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-base-2;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__description {
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: 16px;
  align-self: end;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    gap: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: 24px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 80px);
    padding-bottom: 40px;
    gap: 10px;
  }
}

.card__product-parameter {
  margin: 0;
  justify-self: start;
  position: relative;
  max-width: 120px;
  text-align: start;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      height: 1px;
      background-color: $color-border;
      position: absolute;
      width: 250px;
      left: 0;
      bottom: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 170px;
    }
  }
}

.card__product-value {
  margin: 0;
  justify-self: end;
}

.card__button {
  min-width: 280px;
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    min-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
