.catalog {
  //
}

.catalog__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $color-text-accent;
}

.sub-product__container {
  @media (min-width: $desktop-width) {
    grid-template-columns: auto 245px;
    display: grid;
  }
}

.catalog__list {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  //
}
