.experience {
  background-color: $color-basic;
}

.experience__description {
  //
}

.experience__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $color-text-accent;
}

.experience__text {
  //
}

.experience__data {
  //
}

.experience__data-parameter {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.experience__data-result {
  font-family: $font-second;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: $color-text-accent;
}

.experience__costs {
  font-family: $font-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-accent;
}

.experience__costs-title {
  //
}

.experience__costs-text {
  //
}

.experience__demo {
  //
}
