.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-block: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 66px;
  }
}
