.gift {
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-block: 58px 43px;
  margin-bottom: 20px;
  min-height: 290px;
  background-image: linear-gradient($color-accent-transparent, $color-accent-transparent), image-set("../../images/catalog-background-mobile@1x.jpg" 1x type("image/jpg"), "../../images/catalog-background-mobile@2x.jpg" 2x type("image/jpg")), $background-color-light-grey;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 77px;
    background-image: linear-gradient($color-accent-transparent, $color-accent-transparent), image-set("../../images/catalog-background-tablet@1x.jpg" 1x type("image/jpg"), "../../images/catalog-background-tablet@2x.jpg" 2x type("image/jpg")), $background-color-light-grey;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: end;
    min-height: 288px;
    padding: 23px 41px 40px;
    width: 245px;
    background-image: linear-gradient($color-accent-transparent, $color-accent-transparent), image-set("../../images/catalog-background-desktop@1x.jpg" 1x type("image/jpg"), "../../images/catalog-background-desktop@2x.jpg" 2x type("image/jpg")), $background-color-light-grey;
  }

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 83px;
    background-color: $color-light;
    mask-image: url("../../icons/stack.svg#gift-icon");
    mask-repeat: no-repeat;
  }
}

.gift__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin: 0;
  padding-top: 48px;
  width: 170px;

  @media (min-width: $tablet-width) {
    text-align: start;
    width: 209px;
    padding: 0;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 170px;
    padding: 0;
    padding-top: 46px;
  }
}
