.input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-text-base;
  padding: 13px;
  border: 1px solid $color-border-light;

  &:hover {
    border: 1px solid $color-border;
  }

  &:focus {
    border: 2px solid $color-text-base;
  }

  &:user-invalid {
    border: 2px solid $status-error;
  }

  @media (min-width: $tablet-width) {
    width: 376px;
    flex-grow: 1;
  }
}
