.item-more {
  display: flex;
  flex-direction: column;
  padding-block: 25px;
  align-items: center;
  justify-content: end;
  position: relative;

  @media (max-width: $before-tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 1px;
      width: 100vw;
      background-color: $color-line-decor-light;
      box-shadow: 100vw 0 0 0 $color-line-decor-light;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100vw;
      background-color: $color-line-decor-light;
      box-shadow: 100vw 0 0 0 $color-line-decor-light;
    }
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $color-basic;
    padding: 0 0 35px;
    align-self: end;
    min-height: 390px;
  }

  @media (min-width: $desktop-width) {
    min-height: 430px;
  }
}

.item-more__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-accent-2;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;

  &::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 50px;
    max-width: 170px;
  }
}

.item-more__text {
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  padding-block: 8px 23px;
  margin: 0;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.2;
    padding-block: 22px 81px;
    max-width: 170px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 25px 90px;
  }
}

.item-more__button {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-base;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
