.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    min-height: 115px;
    padding-top: 55px;
  }
}

.navigation__header {
  width: 280px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    justify-content: flex-start;
    margin-right: auto;
    min-height: 50px;
  }
}

.navigation--nojs .navigation__header {
  @media (max-width: $before-tablet-width) {
    justify-content: start;
    gap: 56px;
  }
}

.navigation__logo {
  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 14px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: end;
    max-width: 510px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.navigation--close .navigation__list {
  @media (max-width: $before-tablet-width) {
    display: none;
  }
}

.navigation--open .navigation__list {
  @media (max-width: $before-tablet-width) {
    position: absolute;
    top: 63px;
    z-index: 10;
    min-width: 100vw;
    background-color: $color-light;
    border-top: solid 1px $color-border;
  }
}

.navigation--nojs .navigation__list {
  position: static;
  display: flex;
}

.navigation__item {
  @media (min-width: $tablet-width) {
    text-align: end;
    text-wrap: nowrap;
    font-size: 18px;
    margin-right: 2px;
    margin-left: 33px;
  }
}

.navigation__link {
  display: block;
  font-family: $font-second;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-text-accent;
  text-decoration: none;
  padding-block: 22px;
  box-sizing: border-box;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-block: 12px;
    font-size: 18px;

    &--current::after {
      content: "";
      position: absolute;
      right: 0;
      height: 2px;
      bottom: 0;
      width: 100%;
      background-color: $color-accent;
    }
  }

  @media (min-width: $desktop-width) {
    padding-block: 12px;
    font-size: 20px;
    line-height: 1;

    &--accent {
      color: $color-light;
    }
  }
}

.navigation__link--accent.navigation__link--current::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    bottom: 0;
    width: 100%;
    background-color: $color-light;
  }
}

.navigation--open .navigation__link {
  @media (max-width: $before-tablet-width) {
    width: 100vw;
    text-align: center;
    border-bottom: solid 1px $color-border;
  }
}

.navigation__menu-button {
  padding: 10px;
  padding-right: 0;
  background-color: $color-light;

  &:hover::before,
  :focus::before {
    background-color: $color-logo-focus;
  }

  &:active::before {
    background-color: $color-logo-active;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--open .navigation__menu-button {
  @media (max-width: $before-tablet-width) {
    &::before {
      content: "";
      mask-repeat: no-repeat;
      background-color: $color-text-accent;
      mask-position: center center;
      display: block;
      width: 24px;
      height: 24px;
      mask-image: url("../../icons/stack.svg#close-button");
    }

    &:hover::before,
    :focus::before {
      background-color: $color-logo-focus;
    }

    &:active::before {
      background-color: $color-logo-active;
    }
  }
}

.navigation--close .navigation__menu-button {
  @media (max-width: $before-tablet-width) {
    &::before {
      content: "";
      mask-repeat: no-repeat;
      background-color: $color-text-accent;
      mask-position: center center;
      display: block;
      width: 24px;
      height: 24px;
      mask-image: url("../../icons/stack.svg#burger-menu");
    }

    &:hover::before,
    :focus::before {
      background-color: $color-logo-focus;
    }

    &:active::before {
      background-color: $color-logo-active;
    }
  }

  .navigation--nojs .navigation__menu-button {
    display: none;
  }
}
