.program {
  margin-block: 20px;

  @media (min-width: $tablet-width) {
    margin: -5px 0 20px;
  }
}

.program__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.program__item {
  min-height: 266px;
  background-color: $color-basic;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 50px;
    min-height: 370px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    width: 570px;
    padding: 50px 61px 57px 52px;
  }


  &--slim::before {
    content: "";
    background-image: url("../../icons/stack.svg#cat-slim");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 53px;
    align-self: center;
    position: absolute;
    top: 21px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 195px;
      height: 218px;
      top: 75px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 108px;
      top: 37px;
      left: 52px;
    }
  }

  &--pro::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#cat-pro");
    background-repeat: no-repeat;
    background-size: cover;
    width: 67px;
    height: 50px;
    align-self: center;
    top: 24px;
    left: 13px;


    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      top: 91px;
      left: 411px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: 45px;
      left: 33px;
    }
  }
}

.program__title {
  font-family: $font-second;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-accent;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0 20px 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding: 25px 0;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    padding-left: 162px;
  }
}

.program__text {
  margin: 0;
  padding: 10px 13px 23px 0;
  border-bottom: 1px solid $color-line-decor;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 0 25px;
    max-width: 340px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 0 0;
    max-width: 460px;
  }
}

.program__button {
  display: flex;
  font-size: 16px;
  line-height: 1;
  color: $color-text-accent;
  text-align: start;
  padding-block: 19px;
  padding-inline: 0;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
    padding-block: 28px 5px;
  }

  &::after {
    display: block;
    margin-left: 15px;
    align-self: center;
    content: "";
    width: 35px;
    height: 15px;
    background-image: url("../../icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-position-x: -8px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
      margin-bottom: 2px;
    }
  }

  &:hover::after,
  &:focus::after {
    background-position-x: 50%;
  }
}
