.social {
  //
}

.social__list {
  list-style-type: none;
}

.social__item {
  //
}

.social__link {
  &--vk::before {
    display: block;
    content: "";
    width: 27px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#vk-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &--youtube::before {
    display: block;
    content: "";
    width: 24px;
    height: 19px;
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &--telegram::before {
    display: block;
    content: "";
    width: 20px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-accent;
  }

  &:active::before {
    background-color: $color-accent;
    opacity: 0.3;
  }
}
