.social {
  //
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    ////
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  padding: 20px 12px;

  @media (min-width: $desktop-width) {
    padding: 20px 14px;
  }

  &--vk::before {
    display: block;
    content: "";
    width: 27px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#vk-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &--youtube::before {
    display: block;
    content: "";
    width: 24px;
    height: 19px;
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &--telegram::before {
    display: block;
    content: "";
    width: 20px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-brand;
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-accent;
  }

  &:active::before {
    background-color: $color-accent;
    opacity: 0.3;
  }
}
