.sub-card {
  //
}

.sub-card__title {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-text-base-2;
}

.sub-card__description {
  font-size: 14px;
  line-height: 1;
}

.sub-card__parameter {
  //
}

.sub-card__value {
  //
}
