.sub-product__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 37px;

  @media (min-width: $tablet-width) {
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 82px;
    margin-bottom: 5px;
  }
}

.sub-product__title {
  font-family: $font-second;
  font-weight: 400;
  line-height: 1;
  color: $color-text-accent;
  font-size: 24px;
  text-align: start;
  padding-block: 25px 36px;
  margin: 0;
  background: $color-light;
  width: fit-content;
  box-shadow:
    40px 0 0 0 $color-light,
    -40px 0 0 0 $color-light;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    margin-top: 0.5em;
    height: 2px;
    width: 100vw;
    background-color: $color-accent;
    box-shadow: 100vw 0 0 0 $color-accent;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    padding-left: 40px;
    padding-block: 74px 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    padding-left: 0;
    padding-block: 73px 80px;
  }
}

.sub-product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
