.subscribe {
  font-family: $font-second;
  color: $color-text-accent;
}

.subscribe__title {
  margin: 0;
  padding-block: 30px 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  background: $color-light;
  width: fit-content;
  box-shadow:
    40px 0 0 0 $color-light,
    -40px 0 0 0 $color-light;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    margin-top: 0.5em;
    height: 2px;
    width: 100vw;
    background-color: $color-accent;
    box-shadow: 100vw 0 0 0 $color-accent;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    padding-block: 55px 66px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    padding: 0;
    padding-block: 70px 73px;
  }
}

.subscribe__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 24px;
    padding-inline: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 250px;
  }
}
